# DATABASE URL
DRIZZLE_DATABASE_URL=<your-database-url>

# AUTH.JS SECRET
AUTH_SECRET=<your-auth-secret>

# GOOGLE OAUTH
AUTH_GOOGLE_ID=<your-google-client-id>
AUTH_GOOGLE_SECRET=<your-google-client-secret> 