# NODE ENV
NODE_ENV=<your-node-env>

# APP URL
NEXT_PUBLIC_APP_URL=<your-app-url>

# SALT ROUNDS
SALT_ROUNDS=<your-salt-rounds>

# AUTH.JS SECRET
AUTH_SECRET=<your-auth-secret>

# GOOGLE OAUTH
AUTH_GOOGLE_ID=<your-google-client-id>
AUTH_GOOGLE_SECRET=<your-google-client-secret> 

# DRIZZLE DATABASE URL
DATABASE_URL=<neon-database-url>